// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.projectshow{
	margin:100px
}

.paraClass{
	font-size: 3em;
	line-height: 1em;
}